{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "google"
  ],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": 0,
    "react/jsx-uses-vars": 2,
    "no-invalid-this": 0,
    "object-curly-spacing": ["error", "always"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
