@import "../../Sass/theme";

.btn {
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: theme-color("foreground", "dark");
  outline: none;
  background: transparent;
  font-weight: 700;
  min-width: 64px;
  padding: 8px;
  height: 1rem;
  box-sizing: content-box;
}

.btn.contained {
  //background-color: #2196f3;
  background-color: theme-color("accent");
  box-shadow: 0 0 4px theme-color("accent", "dark", "dark");
  background-position: center;
  transition: background 0.8s;
  border-radius: 2px;
  padding: 12px 16px;
}

.btn:focus {
  outline: none;
}

.btn.contained:disabled {
  //background-color: #8d8d8d;
  background-color: theme-color("accent", "dark");
  cursor: not-allowed;
}

.btn.contained:disabled:hover {
  //background-color: #8d8d8d;
  background-color: theme-color("accent", "dark");
}

.btn.contained:hover {
  background: theme-color("accent", "dark")
    radial-gradient(
      circle,
      transparent 1%,
      theme-color("accent", "dark", "dark") 1%
    )
    center/15000%;
}

.btn.contained:active {
  background-color: theme-color("accent", "light");
  background-size: 100%;
  transition: background 0s;
}

.btn a:link,
.btn a:visited,
.btn a:hover,
.btn a:active {
  text-decoration: none;
  color: inherit;
}
