@import "../../Sass/theme";

.parallax {
  width: 100vw;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullscreenContent {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: theme-color("background");
  color: theme-color("foreground");
}
