@import "../../Sass/theme";

.section-contact__soc-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1.5rem;
}

.section-contact__soc-btns a {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: white;
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.8s;
  background-position: center;
}

.section-contact__soc-btns a:hover {
  background: #d4d4d4 radial-gradient(circle, transparent 1%, #d4d4d4 1%)
    center/15000%;
}

.section-contact__soc-btns a:active {
  background-color: #818181;
  background-size: 100%;
  transition: background 0s;
}

.section-contact a:link,
.section-contact a:visited,
.section-contact a:hover,
.section-contact a:active {
  text-decoration: none;
  color: #c0c0c0;
}

.section-contact a:focus {
  outline: none;
}

.section-contact .section-contact__info a {
  color: theme-color("accent", "light");
  font-weight: 700;
  text-decoration: underline;
}

@media (hover: none) {
  .section-contact__soc-btns a:hover {
    background-color: white;
  }
}

.section-contact__soc {
  position: relative;
  top: 0;
}

.section-contact__soc_divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > hr {
    width: 100%;
  }
  > svg {
    margin: 0 1rem;
  }
}

.section-contact .section__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.section-contact__content form {
  flex: 1;
}

.section-contact__belgium {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100vw;
  height: 100vw;
  max-width: 800px;
  max-height: 800px;
}
