@import "../../Sass/theme";

.skill-bar {
  position: relative;
  width: 100%;
  border-radius: 2px;
  background: theme-color("accent", "light", "dark");
}

.skill-bar__filler {
  position: absolute;
  background: theme-color("accent", "light");
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-out;
  transition-delay: 1s;
  width: 0;
}

.skill-bar > span {
  position: relative;
  margin: 0 0.3rem;
  z-index: 2;
}
