nav {
  height: inherit;
  display: flex;
  align-items: center;
}

// nav ul {
//   height: 100%;
//   list-style: none;
//   display: flex;
//   align-items: center;
// }

// nav ul li {
//   margin: 0 5px;#magic-line {
//   position: absolute;
//   height: 100%;
//   width: 0;
//   top: 0;
//   background: rgba(197, 6, 6, 0.35);
//   transition 0.3s ease-out-swift
// }
