.verticalScroller {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

.scrollLocked {
  overflow: hidden;
}

.freescroll {
  //overflow-y: auto;
}

.verticalScroller.scrollLocked > div.parallax {
  min-height: 100vh;
  max-height: 100%;
}

.scrollLocked .fullscreenContent {
  height: 100vh;
}
